:root {
  --vpurple: #3d427c;
  --vpurpledark: #1b1c57;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.home-bg {
  background-image: url('../images/bg2.png'), url('../images/bg1.png');
  background-position: 100% 100%, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 50%;
  background-attachment: scroll, scroll;
  font-family: Lexend, sans-serif;
}

.home-bg.aboutus {
  background-image: url('../images/bg1.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 50%;
  background-attachment: scroll;
}

.home-bg.aboutus.bottom-right-bg {
  background-image: url('../images/bg-bottom-right.png'), url('../images/bg1.png');
  background-position: 50%, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 50%;
  background-attachment: scroll, scroll;
}

.container {
  width: 90%;
  max-width: 1500px;
  min-height: 10px;
  margin-left: auto;
  margin-right: auto;
}

.container.h-720 {
  height: 720px;
  display: flex;
}

.container.my-100.mb-200 {
  margin-bottom: 200px;
}

.container.hide {
  display: none;
}

.d-flex {
  justify-content: space-between;
  display: flex;
}

.d-flex.content-between {
  justify-content: space-between;
}

.d-flex.content-between.align-center {
  align-items: center;
}

.d-flex.gap-40 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.d-flex.gap-40.reverse {
  flex-direction: row-reverse;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.brand-logo {
  color: #000;
  font-size: 33px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.brand-logo.w--current {
  width: auto;
}

.btn-primary {
  background-color: var(--vpurple);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
}

.btn-primary.text-upper {
  text-transform: uppercase;
}

.btn-primary.text-upper.checkout {
  line-height: 100%;
}

.btn-primary._w-100.text-c.my-40, .btn-primary._w-100.text-c.mt-20 {
  margin-top: 20px;
}

.btn-primary._w-100.btn-bank-account {
  color: #3d427c;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #3d427c;
  margin-top: 20px;
  font-weight: 700;
}

.home-hero {
  padding-top: 150px;
  position: relative;
}

.home-hero.hide {
  display: none;
}

.home-hero.pricing-bg {
  background-image: url('../images/about-bg.png');
  background-position: 100% 30%;
  background-repeat: no-repeat;
  background-size: auto;
}

._w-50 {
  width: 50%;
}

.hero-h1 {
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  line-height: 100px;
}

._w-50-float-left {
  width: 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

._w-50-float-left.bg-vr {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-image: url('../images/P2PEQL0-tr.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding-bottom: 20px;
  padding-left: 60px;
  display: flex;
}

.hero-p {
  color: #484848;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 30px;
}

.top-nav {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.top-nav.hide {
  display: none;
}

.hero-card-wrapper {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-wrap: nowrap;
  align-items: stretch;
  display: flex;
  overflow: hidden;
}

.hero-card {
  min-height: 100px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 40px;
  flex: none;
  align-items: center;
  margin-right: 20px;
  padding: 16px 40px 16px 16px;
  display: flex;
  position: relative;
  box-shadow: 0 2px 10px rgba(48, 48, 48, .2);
}

.hro-card-img {
  width: 180px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 30px;
}

.div-block {
  width: 290px;
}

.hero-card-h1 {
  color: var(--vpurpledark);
  margin-top: 0;
  margin-bottom: 0;
  line-height: 34px;
}

.hero-card-p {
  color: #68799f;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
}

.section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section.position-relative {
  position: relative;
}

.section.position-relative.mt-0 {
  margin-top: 0;
}

.section.position-relative.mt-0.bg-2 {
  background-image: url('../images/Vector32.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section.hide {
  display: none;
}

.section.bg2 {
  background-image: url('../images/bg2_1.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section.bg3-left {
  background-image: url('../images/bg3-left.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.section.bg3-right {
  background-image: url('../images/bg3-right.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section.bg4-right {
  background-image: url('../images/bg4-right.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.v-flex-column {
  flex-direction: column;
  display: flex;
}

.v-flex-column.gap-50 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.paragraph {
  max-width: 665px;
  color: #484848;
  text-align: center;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.div-block-2 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  opacity: .6;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-hero-vr-img-alt {
  display: none;
}

.stretch-left {
  width: 95%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.homeslider {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.slide-nav-hide {
  display: none;
}

.home-slider-h1 {
  color: var(--vpurpledark);
  margin-top: 30px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.home-slide-img {
  width: 100%;
}

.div-block-3 {
  padding: 50px 25px;
}

.div-block-4 {
  width: 10px;
}

.div-block-5 {
  justify-content: space-between;
  display: flex;
}

.div-block-6 {
  display: flex;
}

.div-block-7 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  margin-top: 10px;
  display: flex;
}

.div-block-8 {
  width: 25px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0);
}

.div-block-8.hr-yellow {
  background-color: #f59e0b;
}

.section-pre-title {
  color: #f59e0b;
  font-size: 18px;
  font-weight: 500;
}

.section-title {
  color: #3d427c;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 42px;
}

.section-title._w-max-960 {
  max-width: 960px;
}

.slider-arrow-hide, .silder-arrow-hide, .slider-arrow-icon-hide {
  display: none;
}

.btn-home-slider {
  color: #3c4563;
  background-color: #e0e3eb;
  border-radius: 40px;
  padding: 5px 20px 10px;
  font-size: 30px;
  line-height: 100%;
}

.btn-home-slider:hover {
  color: #fff;
  background-color: #3d427c;
}

.div-block-9 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: flex-end;
  display: flex;
}

.div-block-10 {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: space-between;
  display: flex;
}

.section-h1 {
  color: #222;
  font-size: 48px;
  line-height: 120%;
}

.section-p {
  color: #484848;
  font-size: 16px;
  line-height: 30px;
}

.section-p.mt-30 {
  margin-top: 30px;
}

.p-relative {
  position: relative;
}

.image {
  width: 90%;
}

.div-block-11 {
  justify-content: flex-end;
  padding-bottom: 60px;
  display: flex;
}

.p-absolute {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-12 {
  width: 95%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: flex-end;
  display: flex;
}

.img-60 {
  width: 60%;
}

.img-20 {
  width: 20%;
  flex: 0 auto;
}

._w-60 {
  width: 60%;
}

._w-20 {
  width: 20%;
}

.div-block-13 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.testi-wrapper {
  position: relative;
}

.test-img-wrapper {
  padding-bottom: 200px;
}

.testi-img {
  width: 100%;
}

.testi-data {
  width: 80%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}

.test-data-p {
  color: #626687;
  font-size: 18px;
  line-height: 32px;
}

.d-flex-align-bottom {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.div-test-dp {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: center;
  display: flex;
}

.testi-dp {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 50%;
}

.test-user-name {
  color: #0e1735;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.div-block-14 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: center;
  display: flex;
}

.text-block {
  color: #3c4563;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
}

.slide-2 {
  margin-right: 40px;
}

.slider {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  padding-bottom: 50px;
  overflow: hidden;
}

.mt-50 {
  margin-top: 50px;
}

.mask {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.heading {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.process-strip {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.process-strip.reverse {
  flex-direction: row-reverse;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.ps-img {
  width: 30%;
}

.ps-data {
  width: 70%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.image-2 {
  width: 100%;
}

.ps-data-h1 {
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  line-height: 48px;
}

.ps-data-p {
  color: #484848;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
}

.div-block-15 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-image: url('../images/Rectangle-24.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 50px;
  display: flex;
}

.paragraph-2 {
  color: #484848;
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
}

.paragraph-2._w-max-960 {
  max-width: 960px;
}

.footer {
  padding-top: 75px;
  padding-bottom: 100px;
}

.div-block-16 {
  justify-content: space-between;
  display: flex;
}

.div-block-17 {
  width: 50%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.paragraph-3 {
  font-size: 16px;
}

.paragraph-4 {
  color: #626687;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
}

.div-block-18 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  display: flex;
}

.div-block-19 {
  width: 40%;
  justify-content: space-between;
  display: flex;
}

.div-block-20 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  display: flex;
}

.footer-h3 {
  color: #0e1735;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 105%;
}

.footer-nav {
  color: #626687;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

.footer-p {
  margin-bottom: 0;
}

.footer-para {
  color: #626687;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
}

.navbar {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.container-2 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.nav-menu {
  width: auto;
}

.container-3 {
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  display: block;
}

.navbar-2 {
  background-color: rgba(0, 0, 0, 0);
}

.page-title {
  color: #222;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 50px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-100.bg--about-us {
  background-image: url('../images/about-bg.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: auto;
}

._w-40 {
  width: 40%;
}

._w-40.align-middle {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.work-img {
  width: 100%;
}

.logo-section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.logo-section.position-relative {
  position: relative;
}

.logo-section.position-relative.mt-0 {
  margin-top: 0;
}

.logo-section.position-relative.mt-0.bg-2 {
  background-image: url('../images/bg2.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: auto;
}

.logo-section.hide {
  display: none;
}

.h1-70px {
  text-align: left;
  font-size: 66px;
  line-height: 120%;
}

.h1-70px.text-lg-center, .h1-70px.text-center {
  text-align: center;
  font-size: 70px;
}

.h1-70px.text-center.mb-50 {
  margin-bottom: 50px;
}

.max-width-980px {
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-980px.padding-thanks {
  padding-top: 150px;
  padding-bottom: 200px;
}

.page-subtitle {
  color: #484848;
  font-size: 32px;
  line-height: 110%;
}

.page-subtitle.mt-50.font-20px {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}

.page-subtitle.mt-50.font-20px.mt-new-30 {
  margin-top: 50px;
}

.page-subtitle.mt-50.font-20px.mt-new-30.text-black {
  color: #222;
}

.page-subtitle.mt-50.font-20px.text-center {
  text-align: center;
}

.koc-card {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #f7fafb;
  border: 1px solid rgba(118, 118, 118, .2);
  border-radius: 14px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 30px;
  display: flex;
  box-shadow: 0 2px 50px rgba(25, 43, 67, .1);
}

.heading-2 {
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
  font-family: PT Sans, sans-serif;
  font-size: 36px;
  line-height: 100%;
}

.hr-gray {
  height: 1px;
  background-color: #cfd1d7;
}

.list-item {
  color: #222;
  background-image: url('../images/bullet.png');
  background-position: 0 2px;
  background-repeat: no-repeat;
  background-size: 10px;
  margin-top: 15px;
  padding-left: 1.5rem;
  font-family: PT Sans, sans-serif;
  font-size: 16px;
  line-height: 100%;
  list-style-type: none;
}

.koc-ul {
  padding-left: 0;
  list-style-type: disc;
}

.div-block-22 {
  background-image: url('../images/bg2_1.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 150px;
}

.div-block-22.pt-50t {
  background-position: 100% 130%;
  background-size: 30%;
  padding-top: 0;
}

.div-block-22.bg-bottom-right {
  background-image: url('../images/bg-bottom-right.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.max-width-600px {
  width: 100%;
  max-width: 600px;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 30px;
  display: flex;
}

.max-width-800px {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-800px.p-40 {
  padding: 40px;
}

.max-width-800px.p-40.engineer-card {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  background-color: #f7fafb;
  border: 1px solid rgba(118, 118, 118, .2);
  border-radius: 30px;
  justify-content: space-between;
  padding: 40px;
  display: flex;
}

.image-5 {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.image-5.eng-img {
  width: 30%;
}

._w-25 {
  width: 25%;
}

._w-75 {
  width: 75%;
}

._w-75.eng-card-data {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.eng-name {
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 100%;
}

.eng-title {
  color: #8676fe;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  line-height: 100%;
}

.contact-flex {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

._w-100 {
  width: 100%;
}

._w-100.pe-40 {
  padding-right: 60px;
}

.paragraph-5 {
  color: #484848;
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
}

.div-block-23 {
  background-color: #f7fafb;
  border: 1px solid rgba(118, 118, 118, .2);
  border-radius: 10px;
  padding: 35px 40px;
}

.div-block-23.bg-new {
  background-color: #24242d;
}

.div-block-24 {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 80px;
  display: flex;
}

.heading-3 {
  color: #222;
  font-size: 35px;
  line-height: 48px;
}

.div-block-25 {
  display: inline-block;
}

.div-block-26 {
  width: 70%;
  height: 1px;
  background-color: rgba(118, 118, 118, .2);
}

.mt-30 {
  margin-top: 30px;
}

.paragraph-6, .paragraph-7 {
  color: #484848;
  font-size: 20px;
  line-height: 30px;
}

.aboutus-bg {
  background-image: url('../images/about-bg.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 100px;
}

.aboutus-bg.no-bg {
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
}

.calendar-title {
  width: 100%;
  max-width: 700px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.paragraph-8 {
  color: #484848;
}

.paragraph-9 {
  color: #484848;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
}

.calendar-body {
  width: 100%;
  max-width: 650px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.thank-bg {
  background-image: url('../images/about-bg.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.py-100 {
  padding-top: 150px;
  padding-bottom: 100px;
}

.pricing-form-wrapper {
  width: 100%;
  max-width: 620px;
  background-color: #f7fafb;
  border: 1px solid rgba(118, 118, 118, .2);
  border-radius: 10px;
  margin-top: 6rem;
  padding: 40px;
}

.pricing-form-wrapper.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.pricing-form-wrapper.margin-x-auto.padding-80-60 {
  padding: 80px 60px 70px;
}

.pricing-form-wrapper.margin-x-auto.padding-80-60-ghl {
  padding: 10px 60px 60px;
}

.text-field {
  background-color: rgba(0, 0, 0, 0);
  border: 0 #000;
  border-bottom: 2px solid rgba(34, 34, 34, .3);
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 16px;
}

.footer-new {
  padding-top: 75px;
  padding-bottom: 100px;
}

.footer-menu {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  display: flex;
}

.footer-right {
  justify-content: space-between;
  display: flex;
}

.footer-nav-strong {
  color: #626687;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}

.footer-nav-strong.w--current {
  font-size: 16px;
}

.nav-menu-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  align-items: center;
  display: flex;
}

.nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}

.nav-link.w--current {
  color: var(--vpurple);
  font-weight: 700;
}

.div-block-27 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  display: flex;
}

.hero-card-sl-block {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  overflow: hidden;
}

.slider-2 {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.mask-2 {
  max-width: 560px;
  overflow: visible;
}

.hero-card-overlay {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.mask-3 {
  width: 500px;
  overflow: visible;
}

.div-block-28 {
  overflow: hidden;
}

.form-progress-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  display: flex;
}

.form-progress-number {
  width: 30px;
  height: 30px;
  color: #222;
  border: 1px solid rgba(34, 34, 34, .6);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-family: Lexend, sans-serif;
  line-height: 100%;
  display: flex;
}

.form-progress-number.progress-number-active {
  color: #3d427c;
  border-color: rgba(61, 66, 124, .6);
  font-weight: 700;
}

.progress-line {
  width: 50px;
  height: 1px;
  background-color: rgba(34, 34, 34, .5);
}

.progress-line.progress-line-active {
  background-color: rgba(34, 34, 34, .8);
}

.finance-form-label {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

.finance-form-field {
  background-color: rgba(0, 0, 0, 0);
  border: 0 #000;
  border-bottom: 2px solid rgba(34, 34, 34, .3);
  margin-bottom: 40px;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 500;
}

.paragraph-10 {
  color: #222;
  margin-bottom: 40px;
  font-size: 16px;
}

.mb-40 {
  margin-bottom: 40px;
}

.div-block-29 {
  margin-bottom: 100px;
}

.checkbox-label {
  font-size: 16px;
  font-weight: 500;
}

.checkbox {
  font-size: 16px;
}

.div-block-30 {
  max-width: 600px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.section-copy {
  padding-top: 75px;
}

.section-copy.position-relative {
  position: relative;
}

.section-copy.position-relative.mt-0 {
  margin-top: 0;
}

.section-copy.position-relative.mt-0.bg-2 {
  background-image: url('../images/Vector32.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-copy.hide {
  display: none;
}

.section-copy.bg2 {
  background-image: url('../images/bg2_1.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-copy.bg3-left {
  background-image: url('../images/bg3-left.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-copy.bg3-right {
  background-image: url('../images/bg3-right.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-copy.bg4-right {
  background-image: url('../images/bg4-right.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.hide {
  display: none;
}

.div-block-31 {
  padding-top: 75px;
  padding-bottom: 100px;
}

.div-block-22-copy {
  background-image: url('../images/bg2_1.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.div-block-22-copy.pt-50t {
  background-position: 100% 130%;
  background-size: 30%;
  padding-top: 0;
}

.div-block-22-copy.bg-bottom-right {
  background-image: url('../images/bg-bottom-right.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.calendar-body-max-w-1200 {
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.pt-50-new {
  padding-top: 50px;
}

.pt-50-new.bg--about-us {
  background-image: url('../images/about-bg.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: auto;
}

.foo-wrap-pt-50 {
  background-image: url('../images/bg2_1.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 50px;
}

.foo-wrap-pt-50.pt-50t {
  background-position: 100% 130%;
  background-size: 30%;
  padding-top: 0;
}

.foo-wrap-pt-50.bg-bottom-right {
  background-image: url('../images/bg-bottom-right.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.engineer-description {
  font-size: 17px;
  line-height: 24px;
}

._w-30 {
  width: 30%;
}

._w-70 {
  width: 70%;
}

._w-70.eng-card-data {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.max-width-900px {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-900px.p-40 {
  padding: 40px;
}

.max-width-900px.p-40.engineer-card {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #f7fafb;
  border: 1px solid rgba(118, 118, 118, .2);
  border-radius: 30px;
  justify-content: space-between;
  padding: 40px;
  display: flex;
}

.bold-text {
  font-size: 55px;
}

.bold-text-2 {
  font-size: 26px;
}

@media screen and (min-width: 1920px) {
  .home-bg {
    background-image: url('../images/bg1.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: scroll;
  }

  .container.my-100.mb-200 {
    background-image: url('../images/patch33.png');
    background-position: 130% 0;
    background-repeat: no-repeat;
    background-size: 1000px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .home-hero.pricing-bg {
    background-position: 100%;
    background-size: 60%;
  }

  ._w-50-float-left.bg-vr {
    background-size: contain;
    flex-direction: column;
    justify-content: flex-end;
  }

  .section.position-relative.mt-0.bg-2 {
    background-image: url('../images/patch-1.png');
    background-position: 100% 100%;
    background-size: contain;
    margin-bottom: 0;
    padding-bottom: 150px;
  }

  .section.bg-shade {
    background-image: url('../images/Vector33.png');
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 0;
  }

  .section.bg-shade-2 {
    background-image: url('../images/patch22.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .section.bg2, .section.bg3-left {
    background-size: contain;
  }

  .stretch-left {
    width: 1660px;
  }

  .testi-data {
    padding-top: 43px;
  }

  .process-strip {
    grid-column-gap: 160px;
    grid-row-gap: 160px;
  }

  .process-strip.bm-0px {
    margin-bottom: 0;
  }

  .my-100.tm-0px {
    margin-top: 0;
  }

  .logo-section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .div-block-22.pt-50t {
    background-position: 100% 200%;
    background-size: 35%;
  }

  .heading-4 {
    font-weight: 400;
  }

  .thank-bg {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-copy.position-relative.mt-0.bg-2 {
    background-image: url('../images/patch-1.png');
    background-position: 100% 100%;
    background-size: contain;
    margin-bottom: 0;
    padding-bottom: 150px;
  }

  .section-copy.bg-shade {
    background-image: url('../images/Vector33.png');
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 0;
  }

  .section-copy.bg-shade-2 {
    background-image: url('../images/patch22.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .section-copy.bg2, .section-copy.bg3-left {
    background-size: contain;
  }

  .div-block-22-copy.pt-50t, .foo-wrap-pt-50.pt-50t {
    background-position: 100% 200%;
    background-size: 35%;
  }
}

@media screen and (max-width: 991px) {
  .home-bg {
    background-size: auto, auto;
  }

  .container.my-100.mb-200 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .d-flex {
    flex-direction: column;
  }

  .d-flex.content-between.align-center.new-nav {
    flex-direction: row;
  }

  .d-flex.gap-40 {
    flex-direction: column-reverse;
  }

  .d-flex.gap-40.reverse {
    flex-direction: row-reverse;
  }

  .d-flex.gap-40.reverse.d-md-h, .d-flex.gap-40.fh {
    flex-direction: column-reverse;
  }

  .home-hero.pricing-bg {
    background-size: contain;
  }

  ._w-50 {
    width: 100%;
  }

  .hero-h1 {
    text-align: left;
    font-size: 73px;
  }

  ._w-50-float-left.bg-vr {
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-size: auto;
    padding-left: 0;
    position: static;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
  }

  .section.hide-logo-section {
    display: none;
  }

  .paragraph {
    display: block;
  }

  .div-block-2 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-wrap: nowrap;
  }

  .home-hero-vr-img-alt {
    display: block;
  }

  .div-block-10 {
    flex-direction: column;
  }

  ._w-60.ow-img-wrap {
    width: 100%;
  }

  .mask {
    width: 80%;
  }

  .process-strip {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .my-100.tm-0px {
    margin-top: 100px;
  }

  .ps-data {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-16 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
    align-items: stretch;
  }

  .div-block-17 {
    width: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    align-items: center;
  }

  .div-block-19 {
    width: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
  }

  .div-block-20 {
    align-items: center;
  }

  .footer-para {
    text-align: center;
  }

  .pt-100 {
    padding-top: 30px;
  }

  ._w-40.align-middle.ow-data {
    width: 100%;
  }

  .div-block-21 {
    display: block;
  }

  .logo-section, .logo-section.hide-logo-section {
    display: none;
  }

  .h1-70px {
    font-size: 40px;
  }

  .page-subtitle.mt-50 {
    margin-top: 40px;
    font-size: 20px;
  }

  .contact-flex {
    flex-direction: column;
  }

  ._w-100.pe-40 {
    padding-right: 0;
  }

  .aboutus-bg {
    background-size: contain;
  }

  .footer-menu {
    justify-content: center;
    align-items: center;
  }

  .footer-right {
    width: 100%;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-direction: column;
  }

  .div-block-27 {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .section-copy {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
  }

  .section-copy.hide-logo-section {
    display: none;
  }

  .pt-50-new {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container.h-720 {
    height: 650px;
  }

  .hero-h1 {
    font-size: 60px;
    line-height: 120%;
  }

  .hero-card {
    flex: 1;
    margin: 6px -17px 6px 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }

  .hero-card-h1 {
    font-size: 16px;
  }

  .hero-card-p {
    text-align: justify;
    margin-right: -22px;
    font-size: 11px;
    line-height: 22px;
  }

  .div-block-2 {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    flex-wrap: wrap;
  }

  .section-title {
    text-align: center;
    font-size: 26px;
  }

  .test-img-wrapper {
    width: 74px;
  }

  .testi-img {
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 0 0;
    background-size: auto;
    font-size: 25px;
    position: relative;
  }

  .testi-data {
    flex-direction: column;
    margin-bottom: -34px;
    padding-top: 21px;
    padding-bottom: 40px;
    position: absolute;
    top: 174px;
    bottom: 26%;
  }

  .test-data-p {
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 21px;
  }

  .d-flex-align-bottom {
    margin-top: -29px;
  }

  .test-user-name {
    margin-left: -23px;
    font-size: 15px;
  }

  .div-block-14 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    margin-top: -5px;
    display: flex;
  }

  .text-block {
    font-size: 13px;
  }

  .process-strip {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
  }

  .process-strip.reverse {
    flex-direction: column;
  }

  .ps-img {
    width: 50%;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .ps-data {
    width: 100%;
  }

  .div-block-20 {
    justify-content: center;
  }

  .user {
    width: 22%;
    height: 17%;
  }

  .image-4 {
    font-size: 12px;
  }

  .image-4.star {
    order: -1;
    align-self: center;
    margin-top: -4px;
  }

  .h1-70px {
    font-size: 26px;
  }

  .h1-70px.text-lg-center {
    text-align: left;
    font-size: 30px;
  }

  .h1-70px.text-center {
    font-size: 40px;
  }

  .page-subtitle.mt-50 {
    margin-top: 30px;
    font-size: 16px;
  }

  .max-width-800px.p-40.engineer-card {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
  }

  .eng-name {
    font-size: 60px;
  }

  .eng-title {
    font-size: 20px;
  }

  .calendar-title {
    align-items: stretch;
  }

  .paragraph-9 {
    text-align: left;
    font-size: 18px;
    line-height: 140%;
  }

  .footer-menu {
    flex-direction: column;
    justify-content: center;
  }

  .max-width-900px.p-40.engineer-card {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 479px) {
  .btn-primary {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-primary._w-100.text-c {
    text-align: center;
  }

  .hero-h1 {
    font-size: 40px;
    line-height: 120%;
  }

  .hero-card {
    width: 100%;
    flex-direction: column;
    flex: none;
    padding-right: 16px;
  }

  .div-block {
    width: 100%;
  }

  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .slide {
    width: 100%;
  }

  .div-block-5 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-direction: column;
  }

  .div-block-9 {
    justify-content: space-around;
  }

  .div-block-15 {
    padding: 40px 20px;
  }

  .image-5 {
    border-radius: 10px;
  }

  .eng-name {
    font-size: 30px;
  }

  .eng-title {
    font-size: 12px;
  }

  .div-block-23, .pricing-form-wrapper {
    padding: 20px;
  }

  .section-copy {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


